body{
    background-color: grey;
}
header{
    background-color: lightgrey;
}
header h1,h2{
    color: green;
}
@media(min-width:600px){
    body {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    header{
        width: 50%;
        height: 250px;
    }

}