body{
    background-color:grey ;
    width: 100%;
    margin: 0 auto;
}
 header img{
    width: 95%;
    border: 5px lightgrey solid;
}
footer img{
    width: 25%;
}
h1{
    font-family: 'oswald' sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: bisque;
}
p{
    color: floralwhite;
    font-family: 'avro' serif;
    font-weight: 400;
    font-size: 1rem;
}
h3{
    font-family: 'oswald' sans-serif;
    color: bisque;

}
ul{
    font-family: 'avro' serif;
    color: floralwhite; 
}
.topnav a{
    color: beige;
}
a:hover{
    color: bisque;

}
footer{
    background-color:lightgrey;
}
footer p{
    color: black;
    
}

@media (min-width: 600px) {
    
    body {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    header h1 {
        font-size: 2rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        display: block;
    }
     section h1 {
        font-size: 2rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        display: block;
    }
    header nav  {
        font-size: 1.2rem;
        display: line;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 2rem;
        padding: 0.5rem 3rem;
    }
    header img {
        width: 92%;
        margin-left: 3rem;
    }
    footer p {
        display: inline;
        
    }
    footer div {
        margin: 0 auto;
        width: fit-content;
        background-color: white;
    }
    footer img{
        width: fit-content;
    }
    main section iframe{
        width: 50%;
        height: 500px;
        
    }
    main section p, li {
        font-size: 1.2rem;
    }
   
}


